{% extends 'base.html'%}


{% block content %}

<div class="alert alert-primary" role="alert">
    Register a Account.
</div>



<form method="POST" style="width:400px; padding-left: 100px; padding-top: 50px; padding-bottom: 100px;">
  
    <div class="mb-3" >
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3" >
        <label for="exampleInputEmail1" class="form-label">Your Name</label>
        <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
        
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password1" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"> Enter Your Password Again</label>
        <input type="password" class="form-control" name="password2" id="exampleInputPassword1">
      </div>
   
    <button type="submit" class="btn btn-primary">Ragister</button>
  </form>

{% endblock content %}